<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<div id="wrapper">
		<header>
			<img class="logo" src="img/logo-2015.png" alt="JSLou - Louisville Kentucky's JavaScript group"/>
		</header>

		<div id="content">
			{{> body}}
		</div>

		<footer>
			<div class="footer-inner">
				<div>
					JSLou<br>
					Louisville Kentucky
				</div>
				<div>
					Contact us<br>
					<a href="mailto:{{jslou-info.email}}">{{jslou-info.email}}</a><br>
				</div>
				<div>
					Follow us<br>
					{{#each jslou-info.social}}
					{{> link}}<br/>
					{{/each}}
				</div>
			</div>
		</footer>
	</div>
</body>
</html>
