<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
	<header>
	<img class="logo" src="img/logo-2015.png" alt="JSLou - Louisville Kentucky's JavaScript group"/>
	</header>

	<div id="content">
	{{> body}}
	</div>

	<footer>
		<div>
			JSLou<br>
			Louisville Kentucky
		</div>
		<div>
			Contact us<br>
			<a href="mailto:jslouky@gmail.com">jslouky@gmail.com</a><br>
		</div>
		<div>
			Follow us<br>
			<a target="_blank" href="https://twitter.com/jslouky">Twitter</a><br>
			<a target="_blank" href="https://github.com/JSLou">GitHub</a><br>
			<a target="_blank" href="https://www.youtube.com/channel/UCikdmjOuFOJ7vm5ka0s1lfQ">Youtube</a>
		</div>
	</footer>

</body>
</html>
