<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/css/main.css">
</head>
<body>

	<div class="mobile-header mobile-only">
		<button class="mobile-menu-button"><i class="fa fa-bars"></i></button>
	</div>

	<div class="mobile-menu mobile-only hidden">
		<div>
			<button class="close-icon"><i class="fa fa-times"></i></button>
		</div>
		{{#each jslouinfo.pages}}
		{{> navitem }}
		{{/each}}
	</div>

	<nav class="hide-on-mobile">
		<div class="row">
			{{#each jslouinfo.pages}}
			{{> navitem }}
			{{/each}}
		</div>
	</nav>

	<div id="wrapper">

		<header class="row">
			<div class="col1-2">
				<div class="module">
					<a href="index.html" title="Return home"><h1><img class="logo" src="img/logo-2015.png" alt="JSLou - Louisville Kentucky's JavaScript group"/></h1></a>
					<h2>Louisville Kentucky's JavaScript Group</h2>
				</div>
			</div>

			{{#nextUpcoming events}}
			{{> event this.[0]}}
			{{/nextUpcoming}}

		</header>

		<div id="content">
			{{> body}}
		</div>
	</div>
	<footer>
		<div class="row">
			<div class="col1-4">
				<div class="module">
					<strong>JSLou</strong>
					Louisville Kentucky<br/>
					Established September 2013
				</div>
			</div>
			<div class="col1-4">
				<div class="module">
					<strong>Sitemap</strong>
					<ul>
						{{#each jslouinfo.pages}}
						<li>{{> link}}</li>
						{{/each}}
					</ul>
				</div>
			</div>

			<div class="col1-4">
				<div class="module">
					<strong>Follow us</strong>
					{{#each jslouinfo.social}}
					{{> link}}<br/>
					{{/each}}
				</div>
			</div>
			<div class="col1-4">
				<div class="module">
					<strong>Contact us</strong>
					<a href="mailto:{{jslou-info.email}}">{{jslouinfo.email}}</a><br>
					<a href="https://github.com/JSLou/JSLou-2015" contextmenu=""target="_blank">Fork me on GitHub</a>
					<a class="lousivilleIoBadge" href="http://louisville.io" target="_blank"><img src="img/louisville-io-badge.svg" alt="Find other local tech events on Louisville.io"/></a>
				</div>
			</div>
		</div>
	</footer>

</body>
<script src="js/jquery.min.js"></script>
<script defer="" src="js/jquery.flexslider.js"></script>
<script>
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide"
	});
});

$(".mobile-menu-button").click(function(){
	$(".mobile-menu").removeClass("hidden");
	$(".mobile-header").addClass("hidden");
	$(".page").addClass("hidden");
});

$(".close-icon").click(function(){
	$(".mobile-menu").addClass("hidden");
	$(".mobile-header").removeClass("hidden");
	$(".page").removeClass("hidden");
});
</script>
{{> google-analytics}}
</html>
