
body{
  padding: 0px;
  margin: 0px;
  display: flex;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$max-width: 1200px;

.fl{
  float: left;
}

.fr{
  float: right;
}

.center{
  margin: 0 auto;
}

.pad{
  padding: 10px;
}

#wrapper{
  margin: 0 auto;
  width: 100%;
  max-width: $max-width;
  background: rgba(255,255,255,0.1);
}

.textBlock{
  padding: 0 25px;
}
