@import"colors";
@import"buttons";
@import"breakpoints";
@import"structure";
@import"typography";
@import"nav";
@import"flexslider";
@import"footer";
@import"event";
@import"topics";
@import"mobilemenu";

.logo{
  margin: 10px auto 0 auto;
  display: block;
  max-height: 270px;
  max-width: 100%;
  @include bp(baby-bear) {
    margin: 0 auto;
  }
}
header{
  h2{
    text-align: center;
    @include bp(baby-bear) {
      font-size: .9rem;
      margin: 0 auto;
      padding: 0;
    }
  }
}

body{
  font-family: "Open Sans", helvetica, arial, verdana, sans-serif;
  letter-spacing: .09rem;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  width: 100vw;
  //height: 100vh;
}


h3{
  font-weight: 200;
}


.textBlock{
  img {
    width: 100%;
    max-width: 1024px;
  }
}
