@import"colors";
@import"breakpoints";
@import"structure";
@import"typography";
@import"flexslider";
@import"footer";
@import"event";

.logo{
  margin: 10px auto 0 auto;
  display: block;
}

body{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
