@import"colors";
@import"buttons";
@import"breakpoints";
@import"structure";
@import"typography";
@import"flexslider";
@import"footer";
@import"event";
@import"topics";

.logo{
  margin: 10px auto 0 auto;
  display: block;
  width: 100%;
  max-width: 550px;
}

body{
  font-family: "Open Sans", helvetica, arial, verdana, sans-serif;
  letter-spacing: .09rem;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}


h3{
  font-weight: 200;
}


.textBlock{
  img {
    width: 100%;
    max-width: 1024px;
  }
}
