<section class='textBlock'>
	<h2>So what is this all about?</h2>

<h3>Who:</h3>
<p>JSLou is a 100% free to attend community gathering where people of any experience level, and all types of JavaScript can feel right at home.</p>

<br/>

<h3>What:</h3>
<p>Talk about news in the world of JavaScript, share presentations, show projects we are working on, and work on group projects.</p>

<br/>


<h3>When/Where:</h3>
<p>We meet 2 times per month:</p>
<p>Hack Night – <em>1st Wed every month</em></p>
<a class="redLink" href="https://www.google.com/maps/place/iHub+Coworking+Space/@38.253853,-85.74845,17z/data=!3m1!4b1!4m2!3m1!1s0x886972b8e465a3d1:0x835c47134952f386?hl=en"><i class="fa fa-map-marker"></i> iHub co-working space</a>
<p>Bring a laptop, work on your own project, finish something, this is dedicated time to work in a relaxed environment and get help from others as needed. This meeting is not structured but we may do intros if there are new people.<p>

<br/>
<br/>

<img src="img/learn-night.jpg" alt="JSLou JavaScript Learn Night Louisville Kentucky"/>
<p>Learn Night – <em>3rd Wed every month</em></p>
<a class="redLink" href="https://www.google.com/maps?f=q&amp;hl=en&amp;q=223+S.+Clay+Street,+Louisville,+KY,+40202,+us"><i class="fa fa-map-marker"></i> Via Studio</a>
<p>A structured meeting with intros, relevant news, announcements, and a speaker discussing a specific topic with Q&A and social time to follow.</p>


<br/>


<h3>Stay Up-To-Date</h3>
<p>Our main way of keeping track of events is <a class="redLink" href="http://www.meetup.com/LouisvilleOpenSourceProgramming/" target="_blank">Meetup.com</a>, please RSVP so we know how many people to expect!<br/>
	Be sure to join the <a class="redLink" href="http://slackin.louisville.io/" target="_blank">Slack chat on Louisville.io</a>, where the best and brightest Louisville developers talk.<br/>
You can also keep up to date with us on <a class="redLink" href="http://twitter.com/jslouky/" target="_blank">Twitter</a>, or&nbsp;<a>Google Calendar.</a>
</p>

<br/>


<h2>JSLou wants you!</h2>
<p> <a href="mailto:abezuska@gmail.com">Contact JSLou organizer Alex Bezuska</a> if you are interested in speaking at a JSLou Learn Night</p>

<br/>


<h3>What might happen at a meeting:</h3>
<ul>
    <li>Meet/Greet, introductions and ‘what do you want out of the group’, what do you do etc.</li>
    <li>Javascript general discussion</li>
    <li>Beginner / Intermediate / Advanced presentations</li>
    <li>Group project / Ideas</li>
    <li>What are you working on? – Show and tell the group about your current projects for work, or for fun – get feedback, help, or code review</li>
    <li>Eat/ Drink – Hang out</li>
    <li>Community Service projects/ ideas/ goals as a group</li>
</ul>
</section>

<section class="topics">
	<h3>Topics</h3>
	{{#each topics}}
		{{> link}}
	{{/each}}
</section>
