<div class="row">

  <div class="col1-2">
		<img class="expand" src="img/learn-night.jpg" alt="JSLou JavaScript Learn Night Louisville Kentucky"/>
	</div>

	<div class="col1-2">
		<div class="module">
			<h2>So what is this all about?</h2>

			<p>JSLou is a 100% free to attend community gathering where people of any experience level, and all types of JavaScript can feel right at home.</p>

		</div>
	</div>


</div><!-- /.row -->

<div class="row">
	<div class="col1-1">
		<div class="module">
			<h3>2 meetings per month:</h3>
		</div>
	</div>
</div><!-- /.row -->


<div class="row">
	<div class="col1-2">
		<div class="module">

			<p><strong>Hack Night</strong> – <em>1st Wed every month</em></p>
			<a class="redLink" href="https://www.google.com/maps/place/iHub+Coworking+Space/@38.253853,-85.74845,17z/data=!3m1!4b1!4m2!3m1!1s0x886972b8e465a3d1:0x835c47134952f386?hl=en"><i class="fa fa-map-marker"></i> iHub co-working space</a>
			<p>
				Bring a laptop, work on your own project, finish something, this is dedicated time to work in a relaxed environment and get help from others as needed. This meeting is not structured but we may do intros if there are new people.
			</p>

		</div>
	</div>

	<div class="col1-2">
		<div class="module">
			<p><strong>Learn Night</strong> – <em>3rd Wed every month</em></p>
			<a class="redLink" href="https://www.google.com/maps?f=q&amp;hl=en&amp;q=223+S.+Clay+Street,+Louisville,+KY,+40202,+us"><i class="fa fa-map-marker"></i> Via Studio</a>
			<p>
				A structured meeting with intros, relevant news, announcements, and a speaker discussing a specific topic with Q&A and social time to follow.
			</p>

		</div>
	</div>
</div><!-- /.row -->


<div class="row">
	<div class="col1-2">
		<div class="module">
			<h3>Stay Up-To-Date</h3>
			<p>Our main way of keeping track of events is <a class="redLink" href="http://www.meetup.com/LouisvilleOpenSourceProgramming/" target="_blank">Meetup.com</a>, please RSVP so we know how many people to expect!<br/>
				Be sure to join the <a class="redLink" href="http://slackin.louisville.io/" target="_blank">Slack chat on Louisville.io</a>, where the best and brightest Louisville developers talk.<br/>
				You can also keep up to date with us on <a class="redLink" href="http://twitter.com/jslouky/" target="_blank">Twitter</a>, or&nbsp;<a>Google Calendar.</a>
			</p>

		</div>
	</div>

	<div class="col1-2">
		<div class="module">
			<h2>JSLou wants you!</h2>
			<p>
				<a href="mailto:abezuska@gmail.com">Contact JSLou organizer Alex Bezuska</a> if you are interested in speaking at a JSLou Learn Night
			</p>

		</div>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col1-1">
		<div class="module">
			<h3>What might happen at a meeting:</h3>
			<ul>
				<li>Meet/Greet, introductions and ‘what do you want out of the group’, what do you do etc.</li>
				<li>Javascript general discussion</li>
				<li>Beginner / Intermediate / Advanced presentations</li>
				<li>Group project / Ideas</li>
				<li>What are you working on? – Show and tell the group about your current projects for work, or for fun – get feedback, help, or code review</li>
				<li>Eat/ Drink – Hang out</li>
				<li>Community Service projects/ ideas/ goals as a group</li>
			</ul>
		</div>
	</div>
</div><!-- /.row -->

<div class="row">
	<div class="col1-1">
		<div class="module">
			<h3>Topics</h3>
			<section class="topics">
				{{#each topics}}
					<div class="col1-3"><div class="module">{{> link}}</div></div>
				{{/each}}
			</section>
		</div>
	</div>
</div><!-- /.row -->
