<div class="row">

	<div class="col1-2">
		<img class="expand" src="img/learn-night.jpg" alt="JSLou JavaScript Learn Night Louisville Kentucky" />
	</div>

	<div class="col1-2">
		<div class="module">
			<h2>So what is this all about?</h2>

			<p>JSLou is a 100% free to attend community gathering where people of any experience level, and all types of JavaScript can
				feel right at home.</p>
			<p> JSLou is the first JavaScript focussed community group in Louisville Kentucky and was Established September 2013.</p>
			<p> JSLou was founded by Alex Bezuska, and organizers include:</p>
			<ul>
				<li>
					<a href="mailto:matthew.thompson.a@gmail.com">Matthew Thompson</a>
				</li>
				<li>
					<a href="mailto:shannonbeach1982@gmail.com">Shannon Beach</a>
				</li>
			</ul>

		</div>
	</div>


</div>
<!-- /.row -->

<div class="row">
	<div class="col1-1">
		<div class="module">
			<h2>1 meeting per month:</h2>
		</div>
	</div>
</div>
<!-- /.row -->

<div class="col1-2">
	<div class="module">
		<p>
			<strong>Learn Night</strong> –
			<em>3rd Wed every month</em>
		</p>
		<a class="redLink" href="https://www.google.com/maps?f=q&hl=en&q=612+W+Washington+St.,+Louisville,+KY+40202,+KY,+us">
			<i class="fa fa-map-marker"></i> Warp Zone Louisville</a>
		<p>
			A structured meeting with intros, relevant news, announcements, and a speaker discussing a specific topic with Q&amp;A and
			social time to follow. Also something new: every other Learn night is a special Lightning Talks night where 3-6 speakers
			talk on topics for 5-15 minutes each.
		</p>

	</div>
</div>
</div>
<!-- /.row -->


<div class="row">
	<div class="col1-2">
		<div class="module">
			<h3>Stay Up-To-Date</h3>
			<p>Our main way of keeping track of events is
				<a class="redLink" href="http://www.meetup.com/LouisvilleOpenSourceProgramming/"
				 target="_blank">Meetup.com</a>, please RSVP so we know how many people to expect!
				<br/> Be sure to join the
				<a class="redLink" href="http://slackin.louisville.io/" target="_blank">Slack chat on Louisville.io</a>, where the best and brightest Louisville developers talk.
				<br/> You can also keep up to date with us on
				<a class="redLink" href="http://twitter.com/jslouky/" target="_blank">Twitter</a>, or&nbsp;
				<a>Google Calendar.</a>
			</p>

		</div>
	</div>

	<div class="col1-2">
		<div class="module">
			<h2>JSLou wants you!</h2>
			<p>
				Contact JSLou organizers
				<a href="mailto:matthew.thompson.a@gmail.com">Matthew Thompson</a> or
				<a href="mailto:shannonbeach1982@gmail.com">Shannon Beach</a> if you are interested in speaking at a JSLou Learn Night
			</p>

		</div>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col1-1">
		<div class="module">
			<h3>What might happen at a meeting:</h3>
			<ul>
				<li>Meet/Greet, introductions and ‘what do you want out of the group’, what do you do etc.</li>
				<li>Javascript general discussion</li>
				<li>Beginner / Intermediate / Advanced presentations</li>
				<li>Group project / Ideas</li>
				<li>What are you working on? – Show and tell the group about your current projects for work, or for fun – get feedback, help,
					or code review</li>
				<li>Eat/ Drink – Hang out</li>
				<li>Community Service projects/ ideas/ goals as a group</li>
			</ul>
		</div>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col1-1">
		<div class="module">
			<h3>Topics</h3>
			<section class="topics">
				{{#each topics}}
				<div class="col1-3">
					<div class="module">{{> link}}</div>
				</div>
				{{/each}}
			</section>
		</div>
	</div>
</div>
<!-- /.row -->