<div class="announcement">
	<h2>Important announcement about the future of JSLou<h2>
	<h2>Passionate developers need apply: Are you ready to help run JSLou?</h2>
	<a class="btn" target="_blank" href="/img/press-release-2018-04-24.pdf">Read Press Release here</a>
</div>


<div class="row hide-on-mobile">
		<div class="col1-1 flexslider">
			<ul class="slides">
				<li><img src="img/slider/slide1.jpg" /></li>
				<li><img src="img/slider/slide2.jpg" /></li>
			</ul>
		</div>
</div><!-- /.row -->


<div class="row">
	<div class="col1-1">
		<h3>Upcoming Events</h3>
	</div>
</div><!-- /.row -->

<div class="row events">
	{{#sortByDate events}}
		{{#each this}}
			{{#ifFuture date}}
				{{> event}}
			{{/ifFuture}}
		{{/each}}
	{{/sortByDate}}
</div><!-- /.row -->

<div class="row find clear">
	<div class="col1-1">
		<a class="pastEvents btn" href="past-events.html">View past events</a>
	</div>
</div><!-- /.row -->
