<div class="row">
	<div class="col1-1">
		<h3>Upcoming Events</h3>
	</div>
</div><!-- /.row -->

<div class="row events">
	{{#sortByDate events direction="descending"}}
		{{#each this}}
			{{#ifFuture date}}
			{{else}}
				{{> event}}
			{{/ifFuture}}
		{{/each}}
	{{/sortByDate}}
</div><!-- /.row -->
